<h2>
  {{title}}
</h2>
{{#each message}}
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">
        {{this.text}}
      </p>
    </div>
    <div class="card-footer text-muted">
      {{this.user.username}}
    </div>
  </div>
{{/each}}