<div class="container-small">
  {{#if successMessage}}
    <div
      class="alert alert-success alert-dismissible fade show mb-4"
      role="alert"
    >
      {{successMessage}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}
  {{#if errorMessage}}
    <div
      class="alert alert-danger alert-dismissible fade show mb-4"
      role="alert"
    >
      {{errorMessage}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}
  <h2 class="mb-4">
    {{title}}
  </h2>
  <form action="" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">
        Username
      </label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">
        Password
      </label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>