<div class="container-small">
  <h2 class="mb-4">
    {{title}}
  </h2>
  {{#if errorMessages}}
    <div class="alert alert-danger" role="alert">
      <ul class="mb-0">
        {{#each errorMessages}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <form action="" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">
        Email address
      </label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        minlength="5"
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">
        Username
      </label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        minlength="3"
        maxlength="30"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">
        Password
      </label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        minlength="8"
        maxlength="50"
      />
    </div>
    <div class="mb-3">
      <label for="passwordConf" class="form-label">
        Confirm Password
      </label>
      <input
        type="password"
        class="form-control"
        id="passwordConf"
        name="passwordConf"
        required
        minlength="8"
        maxlength="50"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>